@tailwind base;
@tailwind components;
@tailwind utilities;

.szh-accordion__item-content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.container-skewed {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.diagonal-banner {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 80%;
    transform: translate(-50%, -50%) rotate(20deg); /* Поворачиваем ленту */
    color: white;
    text-align: center;
    white-space: nowrap;
    z-index: 1; /* Лента будет поверх текста */
}

.diagonal-banner span {
    display: inline-block;
    padding: 0 20px;
}

.text-content {
    position: relative;
    z-index: 0; /* Основной текст будет под лентой */
    color: black;
    font-size: 18px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .hamburger-toggle {
        @apply [&>div]:h-0 [&>div]:bg-white [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
    }

    .skewed-bottom::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 24px;
        background-color: inherit;
        transform: skewY(-5deg);
        transform-origin: top left;
    }

}
